@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@600&display=swap');

.btn-survey{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
    font-size: 3em;
    font-family: 'Abhaya Libre', serif;
}
.nav-link{
    font-size: 2em;
    
}
a{
    font-size: 2em;
    color: black;
}
a:hover{
    font-size: 2em;
    color: white;
}
.dropdown-toggle::after {
    vertical-align: 0.100em;
}
.go{
    font-size: 1.5em;
    margin-top: 5rem;
    color: rgba(0, 0, 0, 0.699);
    text-decoration: underline;
}
.go:hover{
    font-size: 1.5em;
    margin-top: 5rem;
    color: rgb(131, 131, 131);
}

@media screen and (max-width: 360px) {
    .logo{
        margin: 0;
    }
}